/* ---------------reset */

* {
  padding: 0;
  margin: 0;
  border: none;
  box-sizing: border-box;
  list-style: none;
}

html {
  font-size: 15px;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

body{
  font-family: 'Raleway', sans-serif;
}

/* -----------------------------------------------------------header */
header{
  position:relative;
}

.topbar {
  height: 10vh;
  width:100vw;
  background-color: rgba(86, 86, 96, 0.1);
  display:flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 5vw;
  position:absolute;
  z-index: 500;

  .blocklogo > a {
    display:inline-block;
    color:white;

    span {
        margin:0 2vw;
        font-size: 0.8em;
    }
  }
}

.logo_topbar{
  height: 2vh;
}

.topbar ul {
  display: flex;
}

.icon_socialnetwork{
  height: 2vh;
  width:auto;
  margin:0 2vw;
}

.topbar_background {

  background-image: url("../images/kairossketch.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 25vh;
  position:relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.topbar_background h1 {
  text-align: center;
  text-transform: uppercase;
  font-weight: 900;
  margin: auto;
  color:white;
  font-size: 3em;
  display:inline-block;
  margin-top: 12vh;
}

.separator{
    fill:white;
    position:absolute;
    bottom:0;
}
@media (max-width: 1200px){
  .topbar_background h1 {
    font-size: 2em;
    display:inline-block;
    margin-top: 12vh;
  }

}
/* ----------------------------------------------part_one */

.part  {
  position: relative;
  display:flex;
  margin: 3vh 0;
  >*{
    padding:2vh 0;

  }
  }

.part_one--texts >*{
  display:inline-block;
}




.part_one--texts, .part_two--technicalpart, .part_two--designpart{
  flex:1;
  color:#565660;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding-left: 12vw;

    .article_title{
      font-size: 1.7em;
      text-transform: uppercase;
      color:#d2985e;

    }
    .article_watchname{
      font-size: 1.2em;
      margin-top: 3vh;
      color:#565660;
      }
    .article_text{
      font-size: 1em;
      margin-top: 2vh;
      color:#565660;
      text-align: center;
      padding:0 7vw;
      line-height: 1.6em;
      }
    }

@media (max-width: 1200px){
.part_one--texts, .part_two--technicalpart, .part_two--designpart{
    padding:2vh;
}
}

    .call_action {
      height: 5vh;
      width: 150px;
      border: solid 1px;
      border-radius: 3vh 3vh;
      border-color: #d2985e;
      color:white;
      background-color:#d2985e;
      text-align: center;
      line-height: 5vh;
      justify-content:center;
      margin-top: 4vh;
      box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.5);
      font-size: 1.2em;

    }

.part_one--pictures{
  flex:1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-right: 12vw;
  .picture-silver_1{
    height: 40vh;
    width: auto;
  }
  .picture-gold{
    height: 50vh;
    width: auto;
  }
}

@media (max-width: 1200px){
.part_one--pictures{
  padding: 2vh;
  .picture-silver_1{
    height: 25vh;
    width: auto;
  }
  .picture-gold{
    height: 35vh;
    width: auto;
  }
}
}

/* -------------------------------------------part_two */
  .part_two{
    height: auto;
    width: 100vw;
    background-image: url("../images/kairossketch.png");
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

  .separator_bottom {
    fill:white;
    position:absolute;
    top:0;
    transform: rotate(180deg);
    padding:0 0;
    z-index: 5000;
        }

  .part_two--filter {
      padding-top: 5vh;
    }

.part_two--filter{
    background-color:rgba(0,0,0,0.85);
    height: 100%;
    width:100%;
    position: relative;
}


.content_flex {
  display: flex;
  padding: 5vh 0;
  justify-content: center;
  align-items: center;
}

@media (max-width: 1200px){
.part, .content_flex {
  flex-direction: row-reverse;
  flex-flow: row wrap;
}
}

.part_two--technicalpart---picture {
  flex:1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 12vw;
  .picture-silver_2{
    height: 40vh;
    width: auto;
  }
}

.part_two--technicalpart {
  padding: 0 12vw 0 0;
    }

.part_two--technicalpart .article_text,.part_two--technicalpart .article_watchname, {
  color:white;
}

.article_text span{
  font-size: 0.7em;
}
/* -----------------------------------------------------------part_two technicalpart */

.part_two--designpart {
  padding-left: 12vw;
    }

.part_two--designpart .article_text,.part_two--designpart .article_watchname, {
  color:white;
    }

.part_two--designpart---picture {
  flex:1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-right: 12vw;
  .design{
    height: 40vh;
    width: auto;
  }
}

@media (max-width: 1200px){
.part_two--technicalpart---picture, .part_two--designpart---picture{
  padding: 2vh;
  }
}

@media (max-width: 1200px){
.part_one--texts, .part_two--technicalpart, .part_two--designpart {
  padding: 2vh;
  }
}
/* -----------------------------------------------------------part_two designpart */



.footersvg {
  fill:rgba(255,255,255,1);
  position: absolute;
  bottom:0;
  padding-bottom: 4vh;
}

footer{
  height: 4vh;
  background-color:rgba(255,255,255,1);
  position: absolute;
  bottom:0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  }

  .logo_footer{
    height: 2vh;
    width:auto;
  }






  /*




/* -----------------------------------------------------------footer */



/*
.wrapper {
  @include flex_center();
  height: 100vh;
  }
  .content {
    width: 35vw;
    height: auto;
    background-color: rgba(18, 17, 19, 0.8);
    padding: 3vh 3vw;
    text-align: left;
    > p {
      font-size: 1.5em;
      span {
        &:first-child {
          color: #E4E6C3;
          font-size: 1.5em;
          display: inline-block;
          font-weight: 800;
          padding-bottom: 2vh;
        }
          &:nth-child(2) {
          color: #F7F7F2;
          font-size: 0.8em;
          font-weight: 200;
          line-height: 1.5em;
          display: inline-block;
        }
      }
    }
  }

  .vs {
    > p {
      font-size: 22em;
      span {

          color: #E4E6C3;
          display: inline-block;
          font-weight: 800;
          margin:4vh;
        }
  }
}
*/
