/* ---------------reset */

* {
  padding: 0;
  margin: 0;
  border: none;
  box-sizing: border-box;
  list-style: none;
}

html {
  font-size: 15px;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

body{
  font-family: 'Raleway', sans-serif;
}

/* -----------------------------------------------------------header */
header{

}

.topbar {
  height: 10vh;
  width:100vw;
  background-color: rgba(86, 86, 96, 0.1);
  display:flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 5vw;
  position:absolute;
  z-index: 500;

  .blocklogo > a {
    display:inline-block;
    color:white;

    span {
        margin:0 2vw;
        font-size: 0.8em;
    }
  }
}

.logo_topbar{
  height: 3vh;
}

.topbar ul {
  display: flex;
}

.icon_socialnetwork{
  height: 2vh;
  width:auto;
  margin:0 2vw;
}


.topbar_background {
  font-family: lato;
  background-image: url("../images/kairossketch.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 30vh;
  position:relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.topbar_background h1 {
  text-align: center;
  text-transform: uppercase;
  font-weight: 900;
  margin: auto;
  color:white;
  font-size: 3em;
  display:inline-block;
  margin-top: 12vh;
}

.topbar_background:after{
  content:"";
  display: block;
  background-image: url("../images/background_separator.png");
  background-repeat: no-repeat;
  background-size: 100%;
  width:100vw;
  height: 30vh;
  position:absolute;
  margin-top: 25vh;
}

/* -----------------------------------------------------------part_one */

.part_one {
  display:flex;
  >*{
    padding:0 10vw;
  }
  }

.part_one--texts{
  flex:1;
  margin-top: 10vh;
  color:#565660;
    .article_title{
      font-size: 1.5em;
      text-transform: uppercase;
      color:#d2985e
    }
    .article_watchname{
      font-size: 1em;
      margin-top: 3vh;
      color:#565660;

      }
    .article_text{
      font-size: 0.8em;
      margin-top: 2vh;
      color:#565660;
      }
    }



.part_one--pictures{
  flex:1;
  .picture-silver_1{
    height: 30vh;
    width: auto;
  }
  .picture-gold{
    height: 40vh;
    width: auto;
  }
}

.call_action {
  height: 5vh;
  width: 10vw;
  border: solid 1px;
  border-radius: 2px 2px;
  border-color: #565660;
  text-align: center;
}


/*
.wrapper {
  @include flex_center();
  height: 100vh;
  }
  .content {
    width: 35vw;
    height: auto;
    background-color: rgba(18, 17, 19, 0.8);
    padding: 3vh 3vw;
    text-align: left;
    > p {
      font-size: 1.5em;
      span {
        &:first-child {
          color: #E4E6C3;
          font-size: 1.5em;
          display: inline-block;
          font-weight: 800;
          padding-bottom: 2vh;
        }
          &:nth-child(2) {
          color: #F7F7F2;
          font-size: 0.8em;
          font-weight: 200;
          line-height: 1.5em;
          display: inline-block;
        }
      }
    }
  }

  .vs {
    > p {
      font-size: 22em;
      span {

          color: #E4E6C3;
          display: inline-block;
          font-weight: 800;
          margin:4vh;
        }
  }
}
*/
